.content {
 display: flex;
 width: 100%;
 justify-content: flex-start;
}

.maincontent {
  // flex-grow: 1;
  overflow: scroll;
  height: 75vh;
  width: 75vw;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-object {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.album-item {
  color: white;
  background: url(../img/stardust.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  p {
    margin: .5em;
  }
  .album-img {
    margin: 1em;
  }
  .band{
    font-size: 1.4em;
  }

  .album {
    font-size: 1.2em;
  }
  .release-date {

  }

}
