.content {
 display: flex;
 width: 100%;
 justify-content: flex-start;
}

.maincontent {
  // flex-grow: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 75vh;
  width: 75vw;
  // padding-right: 30px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-object {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.album-item {
  min-width: 630px;
  min-height: 630px;
  color: white;
  background: url(../img/stardust.png);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  perspective: 1000px;
  // position: relative;
  p {
    margin: .5em;
  }
  img {
    height: 600px;
    width: 600px;
    z-index: 2;
    margin: 1em;

  }
  .band{
    margin-top: 3em;
    font-size: 3em;
  }

  .album {
    font-size: 3em;
  }
  .release-date {
    font-size: 2em;

  }
 .title {
   font-size: 20px;

 }
}
.album-content {
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 600px;
  height: 600px;
  background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  animation: AnimationName 1s ease infinite;
  position: absolute;
  // top: 2em;
  opacity: 0;
  z-index: 1;
  text-align: center;
  @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
}


.album-item:hover{
  .album-img{
  cursor: pointer;
  animation: rotate 2s forwards ease-in-out 0s;
  }
  .album-content{
    animation: rotate2 2s forwards ease-in-out 0s;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
    z-index: 2;
  }

  100% {
    transform: rotateY(360deg);
    opacity: 0;
    z-index: 0;
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateY(0deg);
    opacity: 0;
    z-index: 0;
  }
  100% {
    transform: rotateY(360deg);
    opacity: 1;
    z-index: 2;
  }
}

.rating-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  select, option {
    background-color: white;
  }
}
